{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}

    <h1>Liste des catégories</h1>

    <ul class="list-group">
        {% for category_and_count in categories_and_count %}
            <li class="list-group-item"
            ><a href="{{ path('app_category_show', {id: category_and_count.category.id}) }}"
            >{{ category_and_count.category.name }}</a> <span class="badge text-bg-secondary"
            >{{ category_and_count.count }}</span></li>
        {% endfor %}
    </ul>

{% endblock %}
