{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}

    <h1>Liste des catégories</h1>

    <ul class="list-group">
        {% for category in categories %}
            <li class="list-group-item"
            ><a href="{{ path('app_category_show', {id: category.id}) }}"
            >{{ category.name }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
