{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

    <h1>Contacts</h1>

    <ul>
    {% for contact in contactRepository %}
        <li>{{ contact.lastname }} {{ contact.firstname }}</li>
    {% endfor %}
    </ul>

{% endblock %}
