{% extends 'base.html.twig' %}

{% block title %} {{ contactId.lastname }} {{ contactId.firstname }} {% endblock %}

{% block body %}

    <h1>{{ contactId.lastname }} {{ contactId.firstname }}</h1>

{% endblock %}



