{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!{% endblock %}

{% block body %}

    <h1>Hello World! ✅</h1>

    This friendly message is coming from: {{ name }}

{% endblock %}
